<% @title = "Lorem Ipsum text based on lyrics by #{@artist.display_name}" %>

<h1><%= @artist.display_name %> ipsum</h1>

<ul>
  <% 15.times do -%>
    <p><%= @artist.random_lyric -%></p>
  <% end -%>
</ul>

