<form action="/text-from-lyrics-by">
  <p>
    <label for="artist">
      Make filler text from the lyrics of:
      <input type="text" id="artist" name="artist">
    </label>
    <button type="submit" class="btn btn-success">do it</button>
  </p>

  <div>
    <label>
      How much text are you looking for?
      <input type="number" name="text-length" value="3" min="1" max="10">
    </label>
    <ul class="text-length-units">
      <li>
        <label for="text-length-unit-sentences">
          <input type="radio" name="text-length-unit" id="text-length-unit-sentences" value="sentences" checked="checked">
          sentences
        </label>
      </li>
      <li>
        <label for="text-length-unit-paragraphs">
          <input type="radio" name="text-length-unit" id="text-length-unit-paragraphs" value="paragraphs">
          paragraphs
        </label>
      </li>
    </ul>
  </div>
</form>
