<h1>Hey, what's your favorite band?</h1>

<p>Need some filler text? Getting tired of <span class="fancy">Lorem ipsum dolor blah blah ...</span></p>

<form action="/text-from-lyrics-by">
  <label for="artist">Jumble me up some lyrics by:
    <input type="text" id="artist" name="artist" />
  </label>
  <input type="submit" value="do it" />
</form>
