<h1>Hey, who's your favorite band?</h1>

<p>
  Need some filler text for a design?
  Getting tired of <span class="fancy">Lorem ipsum dolor blah blah ...</span>
</p>

<%= render :partial => 'shared/artist_form' %>
