<h1>Hey, who's your favorite band?</h1>

<p>
  Need some filler text for a design?
  Getting tired of <span class="fancy">Lorem ipsum dolor blah blah ...</span>
</p>

<form action="/text-from-lyrics-by">
  <label for="artist">
    Jumble me up some lyrics by:
    <input type="text" id="artist" name="artist" />
  </label>
  <button type="submit" class="btn btn-success">do it</button>
</form>
