<% content_for :title, 'Lorem Ipsum from the lyrics of your favorite musician' -%>

<h1>Hey, who's your favorite band?</h1>

<p>Need some filler text for something?</p>

<p>Getting tired of <span class="fancy">Lorem ipsum dolor blah blah</span> and all <a href="http://meettheipsums.com/">all the other fun lorem ipsum generators</a>?</p>

<p>Pick a favorite band or song writer and generate yourself some unique filler text!</p>

<%= render :partial => 'shared/artist_form' %>
