<% content_for :title, 'Uh oh!' -%>

<h1>Uh oh!</h1>

<p>I can't find a musician with a name like "<%= name %>"...</p>

<p>Is that who you meant to look for? How about trying someone else:</p>

<%= render :partial => 'shared/artist_form' %>
