@import "bourbon";
@import "neat";
@import "bitters/bitters";

body { margin: 2em; }

h1 { font-size: 2em; }

.fancy { font-family: cursive, fantasy; font-size: 1.2em; }
label { display: inline-block; }

input[name=text-length] { width: 2em; }
.text-length-units {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
  list-style: none;
}
