@import "bourbon";
@import "neat";
@import "bitters/bitters";
@import "bitters_overrides";

body {
  margin: 5%;
}

h1 {
  font-size: 2em;
}

footer {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  text-align: right;
  font-size: 0.8em;
  line-height: 1em;
}

.fancy {
  font-family: cursive, fantasy; font-size: 1.2em;
}

.text-length-units {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
  list-style: none;
}
